/*********************
HEADER STYLES
*********************/
#header #inner-header {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
#header #inner-header::before, #header #inner-header::after {
  display: none;
}
#header #inner-header #logo a {
  width: 100%;
  min-width: 250px;
  padding-top: 3px;
  height: 75px;
  background: white;
  transition: all 0.3s var(--ease);
  box-shadow: none;
}
#header #inner-header #logo a:hover {
  background: var(--green);
  color: white;
}

/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0;
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
  margin-top: 20px;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.nav:after, .nav:before {
  display: none;
}
.nav li {
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
.nav li > a {
  display: block;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  margin: 2px 4px 0;
  padding: 12px 0 0;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  position: relative;
  color: var(--jas_dark);
  transition: all 0.1s cubic-bezier(0.12, 0.845, 0.305, 1);
}
.nav li > a::after {
  content: "";
  display: inline-block;
  width: 0%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.12, 0.845, 0.305, 1);
}
.nav li > a:hover, .nav li > a:focus {
  color: white;
  text-decoration: none;
}
.nav li > a:hover::after, .nav li > a:focus::after {
  width: 100%;
}
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: -1px;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 2;
  min-width: 200px;
  background: white;
  /* highlight sub-menu current page */
}
.nav li ul.sub-menu li,
.nav li ul.children li {
  text-align: left;
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding: 12px 10px;
  border-right: 0;
  display: block;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.nav li ul.sub-menu li a::after,
.nav li ul.children li a::after {
  display: none;
}
.nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
.nav li ul.children li a:hover,
.nav li ul.children li a:focus {
  background: var(--main-color);
  color: white;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li:hover > ul {
  display: block;
}
.nav li.current-menu-item a::after,
.nav li.current_page_item a::after,
.nav li.current_page_ancestor a::after {
  width: 100%;
}

/* end .nav */
.nav_container_mobile .nav {
  margin-right: 0;
}

.nav_toggle {
  display: none;
  top: 0;
}

.nav_toggle {
  display: flex;
}

.scrolled .nav_toggle,
.menu_open .nav_toggle {
  transform: translateX(0);
}
.scrolled .nav_container_mobile,
.menu_open .nav_container_mobile {
  display: flex;
}
