@charset "UTF-8";
/*********************
HEADER STYLES
*********************/
#header {
  left: 0;
  top: 0;
  z-index: 5;
}
#header #inner-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
}
#header #inner-header #logo {
  float: left;
  width: 100px;
}
#header #inner-header #logo a {
  display: inline-block;
  background: url(../img/logo-jas-no-type.svg) left center/80px no-repeat;
  width: calc(100% - 0px);
  height: 75px;
  transition: none;
  -webkit-transition: none;
}

/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile {
  display: inline-block;
}

.nav_container_desktop {
  display: none;
}

.nav-start {
  display: none;
}

.nav_container_mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 18;
  height: 100vh;
  width: 100%;
  background: var(--jas_blue);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  transition: all 0.3s var(--ease);
  transition-delay: 0.3s;
  transform: translateX(100%);
}
.nav_container_mobile .nav-start {
  display: inline;
}
.nav_container_mobile .nav_content {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.nav_container_mobile .nav_content nav {
  width: 100%;
}
.nav_container_mobile nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav_container_mobile nav ul li {
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.3s var(--ease);
}
.nav_container_mobile nav ul li a {
  font-family: "Roboto Slab";
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
  text-transform: none;
}
.nav_container_mobile nav ul li a::after {
  display: none;
}
.nav_container_mobile nav ul li.animate_menu {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}
.nav_container_mobile .mobile-nav {
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid var(--jas_border_on_blue);
  padding: 30px 0 0;
}
.nav_container_mobile .mobile-nav > li > a {
  text-transform: none;
}
.nav_container_mobile .mobile-nav > li > a::after {
  display: none;
}
.nav_container_mobile .mobile-nav .sub_menu-toggle {
  float: right;
}
.nav_container_mobile .mobile-nav li ul.sub-menu {
  display: block;
  position: relative;
  background: none;
  margin: 0;
  height: 0;
  overflow: hidden;
  padding-bottom: 0px;
}
.nav_container_mobile .mobile-nav li ul.sub-menu li {
  opacity: 0;
  margin: 0;
  transform: translateX(-20px);
  transition: all 0.3s var(--ease);
}
.nav_container_mobile .mobile-nav li ul.sub-menu li a {
  font-size: 16px;
  color: white;
  font-weight: 300;
}
.nav_container_mobile .mobile-nav li ul.sub-menu.menu-active {
  height: auto;
  padding-bottom: 10px;
}
.nav_container_mobile .mobile-nav li ul.sub-menu.menu-active li {
  opacity: 1;
  transform: translateX(0);
}
.nav_container_mobile .mobile-nav .sub_menu-toggle {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -5px;
  width: 20px;
  height: 20px;
  background: url(../images/icons/arrow-white@2x.png) center center/contain no-repeat;
  transition: all 0.3s var(--ease);
  opacity: 0.6;
}
.nav_container_mobile .mobile-nav .sub_menu-toggle::before {
  content: "+";
}
.nav_container_mobile .mobile-nav .sub_menu-toggle:hover {
  opacity: 1;
}
.nav_container_mobile .mobile-nav .sub_menu-toggle.toggle-active::before {
  content: "–";
}
.nav_container_mobile .secondary-overlay-nav {
  border-top: 1px solid var(--jas_border_on_blue);
  border-bottom: 1px solid var(--jas_border_on_blue);
  margin-top: 20px;
  padding: 20px 0;
  justify-content: center;
}
.nav_container_mobile .secondary-overlay-nav a {
  font-size: 12px;
  font-weight: 300;
}
.nav_container_mobile .image-links {
  padding: 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.nav_container_mobile .image-links a {
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid transparent;
}
.nav_container_mobile .image-links a:hover {
  border-color: var(--jas_dark);
}

.nav_toggle {
  position: fixed;
  width: 100px;
  height: 70px;
  display: flex;
  z-index: 20;
  top: 0;
  right: 0;
  background: var(--jas_blue);
  justify-content: center;
  align-items: center;
  transition: all 0.5s var(--ease);
  --toggle-width: 27px;
  --toggle-height: 3px;
  --toggle-main-color: white;
  --toggle-hover-color: var(--jas_yellow_contrast);
  color: var(--toggle-main-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
}
.nav_toggle span.bars {
  margin-left: 7px;
  display: block;
  height: var(--toggle-height);
  width: var(--toggle-width);
  top: -2px;
  background: var(--toggle-main-color);
  position: relative;
  transition: all 0.3s var(--ease);
}
.nav_toggle span.bars::after, .nav_toggle span.bars::before {
  display: inline-block;
  content: "";
  position: absolute;
  height: var(--toggle-height);
  width: var(--toggle-width);
  background: var(--toggle-main-color);
  transition: all 0.3s var(--ease);
}
.nav_toggle span.bars::before {
  top: -10px;
}
.nav_toggle span.bars::after {
  top: 10px;
}
.nav_toggle .type {
  position: relative;
  top: 0px;
  transition: all 0.5s var(--ease);
}
.nav_toggle:hover span.bars,
.nav_toggle:hover span.bars::before,
.nav_toggle:hover span.bars::after {
  background: var(--toggle-hover-color);
}
.nav_toggle:hover .type {
  color: var(--toggle-hover-color);
}

.menu_open {
  --toggle-color: white;
  --toggle-color-hover: var(--jas_yellow_contrast);
}
.menu_open .nav_toggle span,
.menu_open .nav_toggle span::before,
.menu_open .nav_toggle span::after {
  background: var(--toggle-color);
}
.menu_open .nav_toggle .type {
  background: transparent;
  color: var(--toggle-color);
}
.menu_open .nav_toggle span.bars {
  background: transparent;
}
.menu_open .nav_toggle span.bars::before {
  transform: rotate(45deg) translate(0, 0);
  top: 0px;
}
.menu_open .nav_toggle span.bars::after {
  transform: rotate(-45deg);
  top: 0px;
}
.menu_open .nav_toggle:hover span::before,
.menu_open .nav_toggle:hover span::after {
  background: var(--toggle-color-hover);
}
.menu_open .nav_toggle:hover .type {
  color: var(--toggle-color-hover);
}
.menu_open .nav_container_mobile {
  transform: translateX(0);
}
.menu_open .nav_container_mobile .nav_content {
  left: 0;
}

#nav-search {
  display: none;
}

@media only screen and (min-width: 768px) {
  /*********************
  HEADER STYLES
  *********************/
  #header #inner-header {
    height: 120px;
    align-items: center;
  }
  #header #inner-header::before, #header #inner-header::after {
    display: none;
  }
  #header #inner-header #logo a {
    background: url(../img/logo-jas-no-type.svg) left center/100px no-repeat;
  }
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    border: 0;
    display: flex;
    justify-content: flex-start;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav:after, .nav:before {
    display: none;
  }
  .nav li {
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */
  }
  .nav li > a {
    font-family: "Roboto Slab";
    display: block;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    margin: 2px 4px 0;
    padding: 10px 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    position: relative;
    color: var(--jas_dark);
    transition: all 0.1s cubic-bezier(0.12, 0.845, 0.305, 1);
  }
  .nav li > a:hover, .nav li > a:focus {
    color: var(--jas_blue);
    text-decoration: none;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: -1px;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 2;
    list-style: none;
    background: white;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    text-align: left;
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding: 14px 10px;
    border-right: 0;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li a::after,
  .nav li ul.children li a::after {
    display: none;
  }
  .nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
  .nav li ul.children li a:hover,
  .nav li ul.children li a:focus {
    background: var(--jas_blue);
    color: white;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover > ul {
    display: block;
  }
  .nav li.current-menu-item a::after,
  .nav li.current_page_item a::after,
  .nav li.current_page_ancestor a::after {
    width: 100%;
  }
  /* end .nav */
  .nav_toggle {
    display: none;
    top: 0;
  }
  .nav_toggle {
    display: flex;
  }
  .scrolled .nav_toggle,
  .menu_open .nav_toggle {
    transform: translateX(0);
  }
  .scrolled .nav_container_mobile,
  .menu_open .nav_container_mobile {
    display: flex;
  }
  .nav_container_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_container_mobile ul li a:hover {
    color: var(--jas_yellow_contrast);
  }
  .nav_container_mobile .nav {
    margin-right: 0;
  }
  .nav_container_mobile nav ul {
    flex-direction: row;
  }
  .nav_container_mobile .nav_content {
    display: flex;
    flex-wrap: wrap;
  }
  .nav_container_mobile .nav_content nav {
    width: 100%;
  }
  .nav_container_mobile .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 40px;
  }
  .nav_container_mobile .mobile-nav .sub_menu-toggle {
    display: none;
  }
  .nav_container_mobile .mobile-nav > li > a {
    padding: 0 0 20px;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu {
    display: block;
    position: relative;
    height: auto;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu li {
    margin: 0;
    opacity: 1;
    transform: none;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu li a {
    border: none;
    padding: 5px 10px;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu li a:hover {
    color: var(--jas_yellow_contrast);
  }
  .nav_container_mobile .secondary-overlay-nav a {
    font-size: 16px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1024px) {
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav_container_mobile,
  .nav_toggle {
    display: none;
  }
  .nav_container_desktop {
    display: inline-block;
  }
  .nav_toggle {
    display: flex;
    transform: translateX(100%);
  }
  .scrolled .nav_toggle,
  .menu_open .nav_toggle {
    transform: translateX(0);
  }
  .scrolled .nav_container_mobile,
  .menu_open .nav_container_mobile {
    display: flex;
  }
  .nav li > a {
    margin: 0 10px 0;
    font-size: 21px;
  }
}
