/*********************
HEADER STYLES
*********************/
#header {
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 5;
}
/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile {
  display: inline-block;
}

.nav_container_desktop {
  display: none;
}

.nav-start {
  display: none;
}

.nav_container_mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 18;
  height: 100vh;
  width: 100%;
  background: var(--jas_blue);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  transition: all 0.3s var(--ease);
  transition-delay: 0.3s;
  transform: translateX(100%);
}
.nav_container_mobile .nav-start {
  display: inline;
}
.nav_container_mobile nav ul {
  display: flex;
  flex-direction: column;
}
.nav_container_mobile nav ul li {
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.3s var(--ease);
  text-align: center;
}
.nav_container_mobile nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  color: var(--black);
  text-transform: uppercase;
}
.nav_container_mobile nav ul li a::after {
  display: none;
}
.nav_container_mobile nav ul li.animate_menu {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}
.nav_toggle {
  position: fixed;
  width: 100px;
  height: 70px;
  display: flex;
  z-index: 20;
  bottom: 0;
  right: 0;
  background: var(--jas_blue);
  justify-content: center;
  align-items: center;
  transition: all 0.5s var(--ease);
  --toggle-width: 27px;
  --toggle-height: 3px;
  --toggle-main-color: white;
  --toggle-hover-color: var(--jas_dark);
  color: var(--toggle-main-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
}
.nav_toggle span.bars {
  margin-left: 7px;
  display: block;
  height: var(--toggle-height);
  width: var(--toggle-width);
  top: -2px;
  background: var(--toggle-main-color);
  position: relative;
  transition: all 0.3s var(--ease);
}
.nav_toggle span.bars::after, .nav_toggle span.bars::before {
  display: inline-block;
  content: "";
  position: absolute;
  height: var(--toggle-height);
  width: var(--toggle-width);
  background: var(--toggle-main-color);
  transition: all 0.3s var(--ease);
}
.nav_toggle span.bars::before {
  top: -10px;
}
.nav_toggle span.bars::after {
  top: 10px;
}
.nav_toggle .type {
  position: relative;
  top: 0px;
  transition: all 0.5s var(--ease);
}
.nav_toggle:hover span.bars,
.nav_toggle:hover span.bars::before,
.nav_toggle:hover span.bars::after {
  background: var(--jas_blue);
}

.menu_open {
  --toggle-color: var(--jas_dark);
  --toggle-color-hover: white;
}
.menu_open .nav_toggle {
  background: transparent;
}
.menu_open .nav_toggle span,
.menu_open .nav_toggle span::before,
.menu_open .nav_toggle span::after {
  background: var(--toggle-color);
}
.menu_open .nav_toggle .type {
  background: transparent;
  color: var(--toggle-color);
}
.menu_open .nav_toggle span.bars {
  background: transparent;
}
.menu_open .nav_toggle span.bars::before {
  transform: rotate(45deg) translate(0, 0);
  top: 0px;
}
.menu_open .nav_toggle span.bars::after {
  transform: rotate(-45deg);
  top: 0px;
}
.menu_open .nav_toggle:hover span::before,
.menu_open .nav_toggle:hover span::after {
  background: var(--toggle-color-hover);
}
.menu_open .nav_toggle:hover .type {
  color: var(--toggle-color-hover);
}
.menu_open .nav_container_mobile {
  transform: translateX(0);
}
.menu_open .nav_container_mobile .nav_content {
  left: 0;
}

@media only screen and (min-width: 768px) {
  /*********************
  HEADER STYLES
  *********************/
  #header #inner-header {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  #header #inner-header::before, #header #inner-header::after {
    display: none;
  }
  #header #inner-header #logo a {
    width: 100%;
    min-width: 250px;
    padding-top: 3px;
    height: 75px;
    background: white;
    transition: all 0.3s var(--ease);
    box-shadow: none;
  }
  #header #inner-header #logo a:hover {
    background: var(--green);
    color: white;
  }
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    border: 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
    margin-top: 20px;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav:after, .nav:before {
    display: none;
  }
  .nav li {
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */
  }
  .nav li > a {
    display: block;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    margin: 2px 4px 0;
    padding: 12px 0 0;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1;
    position: relative;
    color: var(--jas_dark);
    transition: all 0.1s cubic-bezier(0.12, 0.845, 0.305, 1);
  }
  .nav li > a::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 1px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.12, 0.845, 0.305, 1);
  }
  .nav li > a:hover, .nav li > a:focus {
    color: white;
    text-decoration: none;
  }
  .nav li > a:hover::after, .nav li > a:focus::after {
    width: 100%;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: -1px;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 2;
    min-width: 200px;
    background: white;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    text-align: left;
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding: 12px 10px;
    border-right: 0;
    display: block;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li a::after,
  .nav li ul.children li a::after {
    display: none;
  }
  .nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
  .nav li ul.children li a:hover,
  .nav li ul.children li a:focus {
    background: var(--main-color);
    color: white;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover > ul {
    display: block;
  }
  .nav li.current-menu-item a::after,
  .nav li.current_page_item a::after,
  .nav li.current_page_ancestor a::after {
    width: 100%;
  }
  /* end .nav */
  .nav_container_mobile .nav {
    margin-right: 0;
  }
  .nav_toggle {
    display: none;
    top: 0;
  }
  .nav_toggle {
    display: flex;
  }
  .scrolled .nav_toggle,
  .menu_open .nav_toggle {
    transform: translateX(0);
  }
  .scrolled .nav_container_mobile,
  .menu_open .nav_container_mobile {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav_container_mobile,
  .nav_toggle {
    display: none;
  }
  .nav_container_desktop {
    display: inline-block;
  }
  .nav_toggle {
    display: flex;
    transform: translateX(100%);
  }
  .scrolled .nav_toggle,
  .menu_open .nav_toggle {
    transform: translateX(0);
  }
  .scrolled .nav_container_mobile,
  .menu_open .nav_container_mobile {
    display: flex;
  }
  .nav li > a {
    margin: 2px 10px 0;
    padding: 12px 0 0;
    font-size: 16px;
  }
}
