/*********************
HEADER STYLES
*********************/


#header {
    left: 0;
    top: 0;
    z-index: 5;

    #inner-header {
    
            height: 70px;
            display: flex;
            
            justify-content: space-between;
        
            #logo {
                float: left;
                width: 100px;
        
                a {
                    display: inline-block;
                    background:  url(../img/logo-jas-no-type.svg) left center / 80px no-repeat;
                    width: calc(100% - 0px);
                    height: 75px;
                    transition: none;
                    -webkit-transition: none;
                }
            }
    }
}


/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile {
    display: inline-block;
}

.nav_container_desktop {
    display: none;
}

.nav-start {
    display: none;
}

.nav_container_mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18;
    height: 100vh;
    width: 100%;
    background: var(--jas_blue);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    transition: all 0.3s var(--ease);
    transition-delay: 0.3s;
    transform: translateX(100%);
    
    .nav-start {
        display: inline;
    }

    .nav_content {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
     
        nav {
            width: 100%;
        }
    }
    // end nav content

    nav {

        ul {

            display: flex;
            flex-direction: column;
            list-style: none;

            li {

                transform: translateX(100px);
                opacity: 0;
                transition: all 0.3s var(--ease);
                margin: 3px 0;

                a {
                    font-family: "Roboto Slab";
                    color: white;
                    text-decoration: none;
                    font-size: 28px;
                    padding: 5px 10px;
                    text-transform: none;

                    &::after {
                        display: none;
                    }

                }

                &.animate_menu {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: 0.3s;
                }

                .current-menu-item{
                    &>a{
                        color: var(--jas_yellow_contrast);
                    }
                }
            }
        }
    }
    .mobile-nav {
        width: 100%;
        justify-content: space-between;
        border-top: 1px solid var(--jas_border_on_blue);
        padding: 30px 0 0;
    

        &>li {
            &>a {
                //  font-weight: 500;
                text-transform: none;

                &::after {
                    display: none;
                }
            }
        }

        .sub_menu-toggle {
            float: right;
        }

        // SUBMENU
        li ul.sub-menu {
            display: block;
            position: relative;
            background: none;
            margin: 0;
            height: 0;
            overflow: hidden;
            padding-bottom: 0px;

            li {
                opacity: 0;
                margin: 0;
                transform: translateX(-20px);
                transition: all 0.3s var(--ease);
                a { 
                        font-size: 20px;  
                        color: white;
                        font-weight: 300;
                    }
            }

            // SUBMENU ACTIVE
            &.menu-active {
                height: auto;
                padding-bottom: 10px;
                left: 20px;
                li {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
            // end submenu active
        }

        // SUBMENU TOGGLE
        .sub_menu-toggle {
            display: inline-block;
            position: absolute;
            right: 10px;
            top: -5px;
            width: 20px;
            height: 20px;
            background: url(../images/icons/arrow-white@2x.png) center center / contain no-repeat;
            transition: all 0.3s var(--ease);
            opacity: 0.6;

            &::before{
                content: '+';
            }

            &:hover {
                opacity: 1;
            }

            &.toggle-active {
            &::before {
                    content: '–';
                }
            }
        }
    }

    // end main mobile-nav

    .secondary-overlay-nav{
        border-top: 1px solid var(--jas_border_on_blue);
        border-bottom: 1px solid var(--jas_border_on_blue);
        margin-top: 20px;
        padding: 20px 0;
        justify-content: center;
        flex-direction: row;

        a{
            font-size: 14px;
            font-weight: 300;
        }
    }

    .image-links{
        padding: 20px 0;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 20px;

        a{
            overflow:hidden;
            border-radius: 5px;
           // border: 2px solid transparent;
            &:hover{
                box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
            }
        }
    }
}



// MENU TOGGLE BUTTON 
.nav_toggle {
    position: fixed;
    width: 100px;
    height: 70px;
    display: flex;
    z-index: 20;
    top: 0;
    right: 0;
    background: var(--jas_blue);
    justify-content: center;
    align-items: center;        
    transition: all 0.5s var(--ease);


    --toggle-width: 27px;
    --toggle-height: 3px;
    --toggle-main-color: white;
    --toggle-hover-color: var(--jas_yellow_contrast);

    color: var(--toggle-main-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;

    span.bars {
        margin-left: 7px;
        display: block;
        height: var(--toggle-height);
        width: var(--toggle-width);
        top: -2px;

        background: var(--toggle-main-color);
        position: relative;
        transition: all 0.3s var(--ease);


        &::after,
        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            height: var(--toggle-height);
            width: var(--toggle-width);
            background: var(--toggle-main-color);
            transition: all 0.3s var(--ease);
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

    .type {
        position: relative;
        top: 0px;
        transition: all 0.5s var(--ease);
    }

    &:hover {

        span.bars,
        span.bars::before,
        span.bars::after {
            background: var(--toggle-hover-color);
        }
        .type{
            color: var(--toggle-hover-color);
        }
    }
}


// MENU OPEN
.menu_open {
    --toggle-color: white;
    --toggle-color-hover: var(--jas_yellow_contrast);

    .nav_toggle {
       // background: transparent;

        span,
        span::before,
        span::after {
            background: var(--toggle-color);
        }

        .type {
            background: transparent;
            color: var(--toggle-color);
        }

        span.bars {
            background: transparent;


            &::before {
                transform: rotate(45deg) translate(0, 0);
                top: 0px;
            }

            &::after {
                transform: rotate(-45deg);
                top: 0px;
            }
        }

        &:hover {
            span::before,
            span::after {
                background: var(--toggle-color-hover);
            }

            .type {
                color: var(--toggle-color-hover);
            }
        }
    }

    .nav_container_mobile {
        transform: translateX(0);

        .nav_content {
            left: 0;
        }
    }

}


.nav li.current-menu-item{
    &>a{
        color: var(--jas_blue);
    }
}
////////////////////////
// INSTA OVERLAY
////////////////////////

.overlay_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .social_link{
        color: white;
        text-decoration: none;
        span{
            margin-left: 10px;
            position: relative;
            top: 1px;
        }
    }
}

@media only screen and (max-width: 776PX) {
    .overlay_footer{
        flex-direction: column;
        align-items: center;
    }
    .social_link{
        margin-top: 10px;
    }
}

////////////////////////
// SEARCH FORM 
////////////////////////
.searchform{
    display: flex;
    height: 35px;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    button, input {
         
            font-size: 16px;
            padding: 5px 10px;
    
        }

        button {
            color: white;
            border: 1px solid white;

            &:hover {
                
                background: white;
                color: var(--jas_blue);
            }
        }

        i {
            color:white;
            font-size: 1.2em;
            padding-top: 2px;
        }

}



#searchform_mobile{
    width: 100%;
    margin-bottom: 10px;
    input{
        flex-grow: 1;
        background: var(--jas_blue);
        color: white;
    }

        ::placeholder {
            color: RGBA(255, 255, 255, 0.5);
        }
}

#searchform{


    button, input{
        display: none;
        font-size: 16px;
        padding: 5px 10px;
    }

    button{
        color: var(--jas_dark);
        border: 1px solid var(--jas_dark);
        &:active{
                          
            background: var(--jas_blue);
            color: white;
                               
        }
    }

    i{
        color: var(--jas_dark);
        font-size: 1.2em;
        padding-top: 2px;
    }
}

.search_open{
    #searchform{
        button, input{
            display: inline;
        }
    }
}

////////////////////////
// SEARCH RESULT 
////////////////////////
/// 

.search-results-container{
    margin-top: 30px;
}

.search-result{
    border-bottom: 1px solid var(--jas_mediumgray);
    padding: 20px 0;
    &:first-of-type{
        border-top: 1px solid var(--jas_mediumgray);
    }
    h3{
        margin: 0;
        font-size: 2.4rem;
        font-family: 'Gothic A1';;
    }
    p{
        display: none;
    }
    &.post{
        p{
            display: block;
            padding-bottom: 0;
        }
    }
}

// GALLERIES

.gallery ul {
    --numcolumns: 2;
    --gap: 10px;
    display: grid;

    grid-template-columns: repeat(var(--numcolumns), 1fr);

    grid-template-rows: auto;
    gap: var(--gap);
    align-items: stretch;
    padding-bottom: 40px;
}

.gallery ul li {
    aspect-ratio: var(--ratio-golden);
    overflow: hidden;
    background: black;
}

.gallery ul li a {
    transition: 0.2s all ease;
    width: 100%;
    height: 100%;
    display: inline-block;
    aspect-ratio: var(--ratio-golden);
    overflow: hidden;

    &:hover {
        opacity: 0.5;
    }
}

.gallery ul>li a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// AKTUELLES

#aktuelles .akt_eintrag_title {
    padding: 0;

    a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px;

    }
}


@media only screen and (max-width: 991px) {

#aktuelles{
    .col-10{
        width: 100%;
    }
.akt_eintrag {
        border-top: 1px solid var(--jas_mediumgray);
        &:last-of-type{
        border-bottom: 1px solid var(--jas_mediumgray);
        }
    }

    .akt_eintrag_date {
        text-align: left;
        padding: 7px 20px 0;
        font-size: 15px;
        background: white;
    }

    .akt_eintrag_title{
        background-position: top right 3%;
        a{
            padding: 3px 20px 20px;
        }
    }

    .cool-dots {
        display: none;
    }
}

}

@media only screen and (max-width: 575px) {
#aktuelles{
    
    .akt_eintrag {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        }

}
}

.page-template-aktuelles{
    #aktuelles{
        padding-top: 50px;
    }
}

/* =Pagination
-------------------------------------------------------------- */
.pagination {
    clear: both;
    padding: 20px 0;
    position: relative;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    justify-content: center;
}

.nav-links{
    display: flex;
}

.pagination a, .pagination span, .pagination .current{
    display: block;

    margin: 3px;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    background: var(--jas_blue);
    min-width: 35px;
}

.pagination span {
    background-color: var(--jas_darkgray);
}

.pagination .current {
    background-color: var(--jas_darkgray);
}

.pagination a:link {
    color: #fff;
}

.pagination a:visited {
    color: #fff;
}

.pagination a:hover {
    color: #fff;
    background-color: var(--jas_dark);
}

.pagination a:active {
    color: #fff;
}

.pagination{
    .prev, .next{
        padding: 8px 11px;
    }
}


// FOOTER 
.footer_finalrow{
    p a{
        color: white; 
        text-decoration: none;
        margin-right: 7px;
        &:hover{
            color: var(--jas_yellow_contrast);
        }
    }
    .social_icon{
        position: relative;
        top: 1px;
    }
}

// SKIP TO CONTENT
.skip-to-content-link {
    background: #e77e23;
    //height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    display: flex;
    transform: translateY(-100%);
    transition: transform 0.3s;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.skip-to-content-link:focus,
.skip-to-content-link:focus-within
{
transform: translateY(0%);
}

.logo a:focus {
    background: #e77e23;
}

.menu-item-has-children a:focus {
    &::after {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        left: 50%;
        bottom: -8px;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: black transparent transparent transparent;
        transform: translateX(-50%);
    }
}