/*********************
HEADER STYLES
*********************/


#header {
   // position: absolute;
    left: 0;
    top: 0;
    //width: 100vw;
    z-index: 5;

    #inner-header {

        
            height: 75px;
            display: flex;
            
            justify-content: space-between;
        
            #logo {
                float: left;
                width: 100px;
        
                a {
                    display: inline-block;
                    background:  url(../img/logo-jas-no-type.svg) left center / 100px no-repeat;
                    width: calc(100% - 0px);
                    height: 75px;
                    transition: none;
                    -webkit-transition: none;
                }
            }
    }
}


/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile {
    display: inline-block;
}

.nav_container_desktop {
    display: none;
}

.nav-start {
    display: none;
}

.nav_container_mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18;
    height: 100vh;
    width: 100%;
    background: var(--jas_blue);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    transition: all 0.3s var(--ease);
    transition-delay: 0.3s;
    transform: translateX(100%);
    

    .nav-start {
        display: inline;
    }

    nav {

        ul {

            display: flex;
            flex-direction: column;

            li {

                transform: translateX(100px);
                opacity: 0;
                transition: all 0.3s var(--ease);
                text-align: center;

                a {
                    font-family: "Roboto Slab";
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    padding: 5px 10px;
                    color: var(--black);
                    text-transform: uppercase;

                    &::after {
                        display: none;
                    }

                    &:hover {
              

                    }
                }

                &.animate_menu {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: 0.3s;
                }

                &.current-menu-item {
                    a {
                      
                    }
                }
            }
        }
    }

}




.nav_toggle {
    position: fixed;
    width: 100px;
    height: 70px;
    display: flex;
    z-index: 20;
    bottom: 0;
    right: 0;
    background: var(--jas_blue);
    justify-content: center;
    align-items: center;        
    transition: all 0.5s var(--ease);


    --toggle-width: 27px;
    --toggle-height: 3px;
    --toggle-main-color: white;
    --toggle-hover-color: var(--jas_dark);

    color: var(--toggle-main-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;

    span.bars {
        margin-left: 7px;
        display: block;
        height: var(--toggle-height);
        width: var(--toggle-width);
        top: -2px;

        background: var(--toggle-main-color);
        position: relative;
        transition: all 0.3s var(--ease);


        &::after,
        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            height: var(--toggle-height);
            width: var(--toggle-width);
            background: var(--toggle-main-color);
            transition: all 0.3s var(--ease);
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

    .type {
        position: relative;
        top: 0px;
        transition: all 0.5s var(--ease);
 }

    &:hover {

        span.bars,
        span.bars::before,
        span.bars::after {
            background: var(--jas_blue);
        }
    }

}

#nav-search{
    display: none;
}

// MENU OPEN
.menu_open {
    --toggle-color: var(--jas_dark);
    --toggle-color-hover: white;

    .nav_toggle {
        background: transparent;

        span,
        span::before,
        span::after {
            background: var(--toggle-color);
        }

        .type {
            background: transparent;
            color: var(--toggle-color);
        }

        span.bars {
            background: transparent;


            &::before {
                transform: rotate(45deg) translate(0, 0);
                top: 0px;
            }

            &::after {
                transform: rotate(-45deg);
                top: 0px;
            }
        }

        &:hover {

            span::before,
            span::after {
                background: var(--toggle-color-hover);
            }

            .type {
                color: var(--toggle-color-hover);
            }
        }
    }

    .nav_container_mobile {
        transform: translateX(0);

        .nav_content {
            left: 0;
        }
    }

}






