/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile,
.nav_toggle {
  display: none;
}

.nav_container_desktop {
  display: inline-block;
}

.nav_toggle {
  display: flex;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.scrolled .nav_toggle,
.menu_open .nav_toggle {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.scrolled .nav_container_mobile,
.menu_open .nav_container_mobile {
  display: flex;
}

.nav li > a {
  margin: 0 10px 0;
  font-size: 21px;
}

.gallery ul {
  --numcolumns: 3;
  --gap: 10px;
}