@charset "UTF-8";
h3 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  color: var(--jas_dark);
  font-size: 2.4rem;
  margin-bottom: 30px;
}

a {
  color: #0e3ab5;
}
a:hover {
  color: #082882;
}

/*********************
HEADER STYLES
*********************/
#header {
  left: 0;
  top: 0;
  z-index: 5;
}
#header #inner-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
}
#header #inner-header #logo {
  float: left;
  width: 100px;
  line-height: 0;
}
#header #inner-header #logo a {
  display: inline-block;
  background: url(../img/logo-jas-no-type.svg) left center/80px no-repeat;
  width: calc(100% - 0px);
  height: 75px;
  transition: none;
  -webkit-transition: none;
  font-size: 0;
  color: transparent;
}

/*********************
NAVIGATION STYLES
*********************/
.nav_container_mobile {
  display: inline-block;
}

.nav_container_desktop {
  display: none;
}

.nav-start {
  display: none;
}

.nav_container_mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 18;
  height: 100vh;
  width: 100%;
  background: var(--jas_blue);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  transition: all 0.3s var(--ease);
  transition-delay: 0.3s;
  transform: translateX(100%);
}
.nav_container_mobile .nav-start {
  display: inline;
}
.nav_container_mobile .nav_content {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
.nav_container_mobile .nav_content nav {
  width: 100%;
}
.nav_container_mobile nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav_container_mobile nav ul li {
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.3s var(--ease);
  margin: 3px 0;
}
.nav_container_mobile nav ul li a {
  font-family: "Roboto Slab";
  color: white;
  text-decoration: none;
  font-size: 28px;
  padding: 5px 10px;
  text-transform: none;
}
.nav_container_mobile nav ul li a::after {
  display: none;
}
.nav_container_mobile nav ul li.animate_menu {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}
.nav_container_mobile nav ul li.current-menu-item > a {
  color: var(--jas_yellow_contrast);
}
.nav_container_mobile nav ul li.current-page-ancestor > a {
  color: var(--jas_yellow_contrast);
}
.nav_container_mobile .mobile-nav {
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid var(--jas_border_on_blue);
  padding: 30px 0 0;
}
.nav_container_mobile .mobile-nav > li > a {
  text-transform: none;
}
.nav_container_mobile .mobile-nav > li > a::after {
  display: none;
}
.nav_container_mobile .mobile-nav .sub_menu-toggle {
  float: right;
}
.nav_container_mobile .mobile-nav li ul.sub-menu {
  display: block;
  position: relative;
  background: none;
  margin: 0;
  height: 0;
  overflow: hidden;
  padding-bottom: 0px;
}
.nav_container_mobile .mobile-nav li ul.sub-menu li {
  opacity: 0;
  margin: 0;
  transform: translateX(-20px);
  transition: all 0.3s var(--ease);
}
.nav_container_mobile .mobile-nav li ul.sub-menu li a {
  font-size: 20px;
  color: white;
  font-weight: 300;
}
.nav_container_mobile .mobile-nav li ul.sub-menu.menu-active {
  height: auto;
  padding-bottom: 10px;
  left: 20px;
}
.nav_container_mobile .mobile-nav li ul.sub-menu.menu-active li {
  opacity: 1;
  transform: translateX(0);
}
.nav_container_mobile .mobile-nav .sub_menu-toggle {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -5px;
  width: 20px;
  height: 20px;
  background: url(../images/icons/arrow-white@2x.png) center center/contain no-repeat;
  transition: all 0.3s var(--ease);
  opacity: 0.6;
}
.nav_container_mobile .mobile-nav .sub_menu-toggle::before {
  content: "+";
}
.nav_container_mobile .mobile-nav .sub_menu-toggle:hover {
  opacity: 1;
}
.nav_container_mobile .mobile-nav .sub_menu-toggle.toggle-active::before {
  content: "–";
}
.nav_container_mobile .secondary-overlay-nav {
  border-top: 1px solid var(--jas_border_on_blue);
  border-bottom: 1px solid var(--jas_border_on_blue);
  margin-top: 20px;
  padding: 20px 0;
  justify-content: center;
  flex-direction: row;
}
.nav_container_mobile .secondary-overlay-nav a {
  font-size: 14px;
  font-weight: 300;
}
.nav_container_mobile .image-links {
  padding: 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.nav_container_mobile .image-links a {
  overflow: hidden;
  border-radius: 5px;
}
.nav_container_mobile .image-links a:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
}

.nav_toggle {
  position: fixed;
  width: 100px;
  height: 70px;
  display: flex;
  z-index: 20;
  top: 0;
  right: 0;
  background: var(--jas_blue);
  justify-content: center;
  align-items: center;
  transition: all 0.5s var(--ease);
  --toggle-width: 27px;
  --toggle-height: 3px;
  --toggle-main-color: white;
  --toggle-hover-color: var(--jas_yellow_contrast);
  color: var(--toggle-main-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
}
.nav_toggle span.bars {
  margin-left: 7px;
  display: block;
  height: var(--toggle-height);
  width: var(--toggle-width);
  top: -2px;
  background: var(--toggle-main-color);
  position: relative;
  transition: all 0.3s var(--ease);
}
.nav_toggle span.bars::after, .nav_toggle span.bars::before {
  display: inline-block;
  content: "";
  position: absolute;
  height: var(--toggle-height);
  width: var(--toggle-width);
  background: var(--toggle-main-color);
  transition: all 0.3s var(--ease);
}
.nav_toggle span.bars::before {
  top: -10px;
}
.nav_toggle span.bars::after {
  top: 10px;
}
.nav_toggle .type {
  position: relative;
  top: 0px;
  transition: all 0.5s var(--ease);
}
.nav_toggle:hover span.bars,
.nav_toggle:hover span.bars::before,
.nav_toggle:hover span.bars::after {
  background: var(--toggle-hover-color);
}
.nav_toggle:hover .type {
  color: var(--toggle-hover-color);
}

.menu_open {
  --toggle-color: white;
  --toggle-color-hover: var(--jas_yellow_contrast);
}
.menu_open .nav_toggle span,
.menu_open .nav_toggle span::before,
.menu_open .nav_toggle span::after {
  background: var(--toggle-color);
}
.menu_open .nav_toggle .type {
  background: transparent;
  color: var(--toggle-color);
}
.menu_open .nav_toggle span.bars {
  background: transparent;
}
.menu_open .nav_toggle span.bars::before {
  transform: rotate(45deg) translate(0, 0);
  top: 0px;
}
.menu_open .nav_toggle span.bars::after {
  transform: rotate(-45deg);
  top: 0px;
}
.menu_open .nav_toggle:hover span::before,
.menu_open .nav_toggle:hover span::after {
  background: var(--toggle-color-hover);
}
.menu_open .nav_toggle:hover .type {
  color: var(--toggle-color-hover);
}
.menu_open .nav_container_mobile {
  transform: translateX(0);
}
.menu_open .nav_container_mobile .nav_content {
  left: 0;
}

.nav li.current-menu-item > a {
  color: var(--jas_blue);
}

.overlay_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.overlay_footer .social_link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.overlay_footer .social_link span {
  margin-left: 10px;
  position: relative;
  top: 1px;
}

@media only screen and (max-width: 776PX) {
  .overlay_footer {
    flex-direction: column;
    align-items: center;
  }
  .social_link {
    margin-top: 10px;
  }
}
.searchform {
  display: flex;
  height: 35px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.searchform button, .searchform input {
  font-size: 16px;
  padding: 5px 10px;
}
.searchform button {
  color: white;
  border: 1px solid white;
}
.searchform button:hover {
  background: white;
  color: var(--jas_blue);
}
.searchform i {
  color: white;
  font-size: 1.2em;
  padding-top: 2px;
}

#searchform_mobile {
  width: 100%;
  margin-bottom: 10px;
}
#searchform_mobile input {
  flex-grow: 1;
  background: var(--jas_blue);
  color: white;
}
#searchform_mobile ::placeholder {
  color: RGBA(255, 255, 255, 0.5);
}

#searchform button, #searchform input {
  display: none;
  font-size: 16px;
  padding: 5px 10px;
}
#searchform button {
  color: var(--jas_dark);
  border: 1px solid var(--jas_dark);
}
#searchform button:active {
  background: var(--jas_blue);
  color: white;
}
#searchform i {
  color: var(--jas_dark);
  font-size: 1.2em;
  padding-top: 2px;
}

.search_open #searchform button, .search_open #searchform input {
  display: inline;
}

.search-results-container {
  margin-top: 30px;
}

.search-result {
  border-bottom: 1px solid var(--jas_mediumgray);
  padding: 20px 0;
}
.search-result:first-of-type {
  border-top: 1px solid var(--jas_mediumgray);
}
.search-result h3 {
  margin: 0;
  font-size: 2.4rem;
  font-family: "Gothic A1";
}
.search-result p {
  display: none;
}
.search-result.post p {
  display: block;
  padding-bottom: 0;
}

.gallery ul {
  --numcolumns: 2;
  --gap: 10px;
  display: grid;
  grid-template-columns: repeat(var(--numcolumns), 1fr);
  grid-template-rows: auto;
  gap: var(--gap);
  align-items: stretch;
  padding-bottom: 40px;
}

.gallery ul li {
  aspect-ratio: var(--ratio-golden);
  overflow: hidden;
  background: black;
}

.gallery ul li a {
  transition: 0.2s all ease;
  width: 100%;
  height: 100%;
  display: inline-block;
  aspect-ratio: var(--ratio-golden);
  overflow: hidden;
}
.gallery ul li a:hover {
  opacity: 0.5;
}

.gallery ul > li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#aktuelles .akt_eintrag_title {
  padding: 0;
}
#aktuelles .akt_eintrag_title a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

@media only screen and (max-width: 991px) {
  #aktuelles .col-10 {
    width: 100%;
  }
  #aktuelles .akt_eintrag {
    border-top: 1px solid var(--jas_mediumgray);
  }
  #aktuelles .akt_eintrag:last-of-type {
    border-bottom: 1px solid var(--jas_mediumgray);
  }
  #aktuelles .akt_eintrag_date {
    text-align: left;
    padding: 7px 20px 0;
    font-size: 15px;
    background: white;
  }
  #aktuelles .akt_eintrag_title {
    background-position: top right 3%;
  }
  #aktuelles .akt_eintrag_title a {
    padding: 3px 20px 20px;
  }
  #aktuelles .cool-dots {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  #aktuelles .akt_eintrag {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.page-template-aktuelles #aktuelles {
  padding-top: 50px;
}

/* =Pagination
-------------------------------------------------------------- */
.pagination {
  clear: both;
  padding: 20px 0;
  position: relative;
  font-size: 14px;
  line-height: 13px;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
}

.pagination a, .pagination span, .pagination .current {
  display: block;
  margin: 3px;
  padding: 8px;
  border-radius: 3px;
  text-align: center;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  background: var(--jas_blue);
  min-width: 35px;
}

.pagination span {
  background-color: var(--jas_darkgray);
}

.pagination .current {
  background-color: var(--jas_darkgray);
}

.pagination a:link {
  color: #fff;
}

.pagination a:visited {
  color: #fff;
}

.pagination a:hover {
  color: #fff;
  background-color: var(--jas_dark);
}

.pagination a:active {
  color: #fff;
}

.pagination .prev, .pagination .next {
  padding: 8px 11px;
}

.footer_finalrow p a {
  color: white;
  text-decoration: none;
  margin-right: 7px;
}
.footer_finalrow p a:hover {
  color: var(--jas_yellow_contrast);
}
.footer_finalrow .social_link {
  position: relative;
  top: 1px;
  color: white;
}
.footer_finalrow .social_link span {
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.footer_finalrow .social_link:hover {
  color: var(--jas_yellow_contrast);
}

#termine .ics-calendar .icon-list,
#termine .ics-calendar .icon-month {
  margin: -4px 5px auto;
}
#termine .ics-calendar-month-table-list-toggle label {
  padding: 7px 5px 3px;
}
#termine .ics-calendar-month-table-list-toggle label:hover {
  background-color: #fffae5;
  color: black;
}
#termine .ics-calendar-month-table-list-toggle label:not(.current):hover > * {
  opacity: 0.8;
}
#termine .ics-calendar-select {
  font-size: 100%;
  padding: 7px 5px 5px;
}

.skip-to-content-link {
  background: black;
  left: 50%;
  padding: 8px;
  position: absolute;
  display: flex;
  transform: translateY(-100%);
  transition: transform 0.3s;
  color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}
.skip-to-content-link:hover {
  color: var(--jas_yellow_contrast);
}

.skip-to-content-link:focus,
.skip-to-content-link:focus-within {
  transform: translateY(0%);
}

.logo a:focus {
  background: #e77e23;
}

.menu-item-has-children a:focus::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  left: 50%;
  bottom: -8px;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: black transparent transparent transparent;
  transform: translateX(-50%);
}

@media only screen and (min-width: 768px) {
  /*********************
  HEADER STYLES
  *********************/
  #header #inner-header {
    height: 120px;
    align-items: center;
  }
  #header #inner-header::before, #header #inner-header::after {
    display: none;
  }
  #header #inner-header #logo a {
    background: url(../img/logo-jas-no-type.svg) left center/100px no-repeat;
  }
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    border: 0;
    display: flex;
    justify-content: flex-start;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav:after, .nav:before {
    display: none;
  }
  .nav li {
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */
  }
  .nav li > a {
    font-family: "Roboto Slab";
    display: block;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    margin: 2px 4px 0;
    padding: 10px 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    position: relative;
    color: var(--jas_dark);
    transition: all 0.1s cubic-bezier(0.12, 0.845, 0.305, 1);
  }
  .nav li > a:hover {
    color: var(--jas_blue);
    text-decoration: none;
  }
  .nav li > a:focus {
    background-color: teal;
    color: white;
    text-decoration: underline;
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: -1px;
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 2;
    list-style: none;
    background: white;
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    text-align: left;
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding: 14px 10px;
    border-right: 0;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li a::after,
  .nav li ul.children li a::after {
    display: none;
  }
  .nav li ul.sub-menu li a:hover,
  .nav li ul.children li a:hover {
    background: var(--jas_blue);
    color: white;
  }
  .nav li ul.sub-menu li a:focus,
  .nav li ul.children li a:focus {
    background-color: teal;
    color: white;
    text-decoration: underline;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover > ul, .nav li:focus > ul, .nav li:focus-visible > ul {
    display: block;
  }
  .nav li.current-menu-item > a,
  .nav li.current_page_item > a,
  .nav li.current_page_ancestor > a {
    color: var(--jas_blue);
  }
  .nav li.current-menu-item > a::after,
  .nav li.current_page_item > a::after,
  .nav li.current_page_ancestor > a::after {
    width: 100%;
  }
  /* end .nav */
  .primary-nav {
    display: inline-flex;
  }
  .nav_container_mobile ul li.current-page-ancestor > a, .nav_container_mobile ul li.current-menu-item > a, .nav_container_mobile .mobile-nav li ul.sub-menu li.current-menu-item > a {
    color: var(--jas_yellow_contrast);
  }
  #searchform {
    display: inline-flex;
  }
  #searchform_mobile {
    width: auto;
    margin-bottom: 10px;
  }
  .nav_toggle {
    display: none;
    top: 0;
  }
  .nav_toggle {
    display: flex;
  }
  .scrolled .nav_toggle,
  .menu_open .nav_toggle {
    transform: translateX(0);
  }
  .scrolled .nav_container_mobile,
  .menu_open .nav_container_mobile {
    display: flex;
  }
  .nav_container_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_container_mobile ul li a:hover {
    color: var(--jas_yellow_contrast);
  }
  .nav_container_mobile .nav {
    margin-right: 0;
  }
  .nav_container_mobile nav ul {
    flex-direction: row;
  }
  .nav_container_mobile .nav_content {
    display: flex;
    flex-wrap: wrap;
  }
  .nav_container_mobile .nav_content nav {
    width: 100%;
  }
  .nav_container_mobile .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 40px;
  }
  .nav_container_mobile .mobile-nav .sub_menu-toggle {
    display: none;
  }
  .nav_container_mobile .mobile-nav > li.current_page_item a {
    color: var(--jas_yellow_contrast);
  }
  .nav_container_mobile .mobile-nav > li > a {
    padding: 0 0 20px;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu {
    display: block;
    position: relative;
    height: auto;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu li {
    margin: 0;
    opacity: 1;
    transform: none;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu li a {
    border: none;
    padding: 5px 10px;
  }
  .nav_container_mobile .mobile-nav li ul.sub-menu li a:hover {
    color: var(--jas_yellow_contrast);
  }
  .nav_container_mobile .secondary-overlay-nav a {
    font-size: 16px;
    font-weight: 300;
  }
  .gallery ul {
    --numcolumns: 3;
    --gap: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav_container_mobile,
  .nav_toggle {
    display: none;
  }
  .nav_container_desktop {
    display: inline-block;
  }
  .nav_toggle {
    display: flex;
    transform: translateX(100%);
  }
  .scrolled .nav_toggle,
  .menu_open .nav_toggle {
    transform: translateX(0);
  }
  .scrolled .nav_container_mobile,
  .menu_open .nav_container_mobile {
    display: flex;
  }
  .nav li > a {
    margin: 0 10px 0;
    font-size: 21px;
  }
  .gallery ul {
    --numcolumns: 3;
    --gap: 10px;
  }
}